{% set meetups = load_data(path="events.toml") %}

{% if meetups['recent'] %}
## {{ 'recent' | capitalize }}

{% for item in meetups['recent'] %}
### {{ item.title }}

{% if item.event_page %}yo{% endif %}

{% if item.url %}**Link:** [Meetup.com]({{ item.url }}){% endif %}  
**Date:** {% if item.date %}<time datetime="{{ item.date }}">{{ item.date | date(format="%A, %e %B %Y", timezone="Europe/Berlin") }}</time>  {% else %}(No date found)  {% endif %}
**Venue:** {% if item.venue %}{{ item.venue }} – {% endif %}{% if item.address %}{{ item.address }}   {% else %}(No venue)  {% endif %}
{% if item.content -%}**Description:**<blockquote>{{ item.content | safe }}</blockquote>{% endif %}

{% endfor %}
{% endif %}

