*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --brand-bg-color: #FFE7D6;
  --brand-link-color: #d04000;
  --brand-text-color: #323232;
  --secondary-text-color: #5e5e5e;
  --box-background-color: #fbf8f2;
  --code-color: #e1e1e1;
  --code-background-color: #4a4a4a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1d1412;
    --brand-bg-color: #261a17;
    --brand-link-color: #ff7b41;
    --brand-text-color: #e1e1e1;
    --secondary-text-color: #d4d4d4;
    --box-background-color: #271f1d;
  }

  nav svg path {
    fill: var(--brand-link-color);
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Fira Sans", sans-serif;
  color: var(--brand-text-color);
  background-color: var(--background-color);
}

a {
  color: var(--brand-link-color);
}

a:hover {
  opacity: .75;
  text-decoration: none;
}

ul {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

ul>li {
  padding: 0.3rem 0;
}

p>img {
  width: 100%;
  height: auto;
}

header {
  background-color: var(--brand-bg-color);
}

header > a {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: .5rem 1.5rem;
  text-decoration: none;
  color: var(--brand-text-color);
}

header h1 {
  font-size: 1.3rem;
  margin: 0;
}

header span {
  color: var(--brand-link-color);
}

header svg {
  max-height: 6rem;
}

nav ul, main, footer {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

nav {
  background-color: var(--box-background-color);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0rem 2rem;
  list-style-type: none;
  padding: .75rem 0;
  font-weight: bold;
}

nav li {
  flex-basis: 33%;
}

nav svg {
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: middle;
  margin-right: .5rem;
}

main {
  padding: 1rem 1.5rem 3rem;
}

footer {
  text-align: center;
  padding-bottom: 1.5rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.3rem;
}

aside {
  flex: 0 1 100%;
}

aside a {
  display: block;
  font-size: 1.2rem;
}

pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-family: monospace;
}

code {
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-weight: normal;
  padding: 0.2rem 0.5rem;
  font-family: monospace;
  border-radius: 5px;
}

pre code {
  padding: 0;
}

blockquote {
  margin: 0;
  padding: .5rem 1.5rem;
  border-left: var(--code-background-color) .25rem solid;
}

.box {
  border-top: 5px solid var(--brand-link-color);
  background-color: var(--box-background-color);
  padding: 1rem 1.5rem;
}

.button {
  display: inline-block;
  margin: .5rem .5rem .5rem 0;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border-radius: 0.3rem;
  background-color: var(--brand-link-color);
  color: var(--brand-bg-color);
}

.event-page-link {
  display: block;
  padding-left: 2rem;
}

.event-page-link h3,
details summary h3 {
  margin-top: .75rem;
  margin-bottom: .75rem;
  padding-left: .3rem;
}

details summary { 
  cursor: pointer;
  width: 100%;
  padding-left: 1rem;
  color: var(--brand-link-color);
}

details summary:hover {
  background: var(--box-background-color);
}

details summary > * {
  display: inline-block;
  color: var(--secondary-text-color);
  vertical-align: middle;
}

details[open] {
  margin-bottom: 2rem;
}

details[open] summary,
details > div {
  background: var(--box-background-color);
}

details > div {
  padding: 1rem 1.5rem;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

dd > blockquote {
  margin: 1rem 0 0 0;
  background-color: rgba(0, 0, 0, .1);
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 1.5rem 0;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  header svg {
    max-height: 8rem;
  }

  header h1 {
    font-size: 1.8rem;
  }

  nav li {
    flex-basis: auto;
    font-size: 1.2rem;
  }

  main.page-index {
    display: flex;
    flex-direction: row-reverse;
    gap: 2.5rem;
  }
}
