<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>🦀</text></svg>" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    {% block header %}
    <header>
        <nav>
            <img class="logo" src="cph-rs-ferris.png">
            <a href="/">
                <h1>Copenhagen Rust Community</h1>
            </a>
        </nav>
    </header>
    {% endblock header %}

    <main {% if page %}class="page-{{page.slug}}"{% endif %}>
        {% block sidebar %}
        {% endblock sidebar %}
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <footer>
        <small>Last updated: {{ now()| date(format="%e %B at %H:%M", timezone="Europe/Berlin") }}</small>
    </footer>

    {% block script %}
    {% endblock script %}
</body>

</html>