{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<aside>
    <h2>Updates</h2>
    {% set events = load_data(path="events.toml") %}
    
    {%- set nextEvent = events.upcoming | last %}
    {%- if nextEvent -%}
    <p>
        Next event:
        <a href="/events">{{ nextEvent.title }}</a>

        {% if nextEvent.date %}
            <time datetime="{{ nextEvent.date }}">{{ nextEvent.date | date(format="%A, %e %B", timezone="Europe/Berlin") }}</time>
        {% else %}
            <i>To be announced</i>
        {% endif -%}
    </p>
    {% endif %}

    {%- set recentEvent = events.recent | first %}
    {%- if recentEvent -%}
    <p>
        Recent event:
        <a href="/events">{{ recentEvent.title }}</a>

        {% if recentEvent.date %}
            <time datetime="{{ recentEvent.date }}">{{ recentEvent.date | date(format="%A, %e %B", timezone="Europe/Berlin") }}</time>
        {% endif -%}
    </p>
    {% endif %}
</aside>

<article>
    {{ section.content | safe }}
</article>
{% endblock content %}

{% block footer %}
    {{ macros::last_update() }}
{% endblock footer %}