{% macro event_attributes(event) %}
<dl>
    {% if event.url %}
    <dt>
        Signup
    </dt>
    <dd>
        <a href="{{ event.url }}">{{ event.title}} on Meetup.com</a>
    </dd>
    {% endif %}
    
    <dt>
        Date
    </dt>
    <dd>
        {% if event.date %}
            <time datetime="{{ event.date }}">{{ event.date | date(format="%A, %e %B %Y", timezone="Europe/Berlin") }}</time>  
        {% else %}
            (No date found)
        {% endif %}
    </dd>

    <dt>
        Venue
    </dt>
    <dd>
        {% if event.venue %}
            {{ event.venue }} – {% endif %}
            {% if event.address %}{{ event.address }}
        {% else %}
            (No venue)  
        {% endif %}
    </dd>
    
    {% if event.content -%}
    <dt>Description</dt>
    <dd>
        <blockquote>{{ event.content | safe }}</blockquote>
    </dd>
    {% endif %}
</dl>
{% endmacro event_attributes %}